ADMIN_TOKEN=canvia-aquest-token-per-un-de-segur

URL_GRADO_D_BASICO=https://www.todofp.es/que-estudiar/grados-d/fp-grado-basico.html
URL_GRADO_D_MEDIO=https://www.todofp.es/que-estudiar/grados-d/grado-medio.html
URL_GRADO_D_SUPERIOR=https://www.todofp.es/que-estudiar/grados-d/grado-superior.html
URL_GRADO_E=https://www.todofp.es/que-estudiar/grados-e/curso-especializacion.html
# BUSCADOR_UUID=<uuid-del-captcha>
